/* styles.css */

@keyframes celebrateAnimation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.animate-celebrate {
    animation: celebrateAnimation 2s infinite;
    background-color: rgb(225, 0, 255);
}